.grid {
  display: grid;
  max-width: 75vw;
}

.cell {
  outline: 1px solid gray;
  border: none;
  aspect-ratio: 1;

  transition: background-color 0.1s ease-in-out;
  background-color: #fff;
}

.cell.alive {
  background-color: #000;
}

.cell:not([disabled]) {
  cursor: pointer;
}

.cell:not([disabled]):hover {
  background-color: lightgray;
}
.cell.alive:not([disabled]):hover {
  background-color: darkslategray;
}
